body{
    margin: 0;
    background-color: rgb(238, 130, 238);
}
.menuLink{
    color: #262626;
    font-size: 25px;
    text-decoration: none;
    padding: 0 15px;
    margin: 0 15px;
}
.menuLink:hover{
    color: #fff;
    background-color: #262626;
    border-radius: 15px;
}
.flex{
    display: flex;
}
.logo{
    cursor: pointer;
    color: #262626;
    font-size: 25px;
    text-decoration: none;
    padding: 0 15px;
    margin: 0 15px;
}
.header{
    padding: 15px;
    box-shadow: 5px 5px 20px 20px rgb(155, 39, 155);
}
.menu{
    right: 30px;
    position: absolute;
}
.centered{
    justify-content: center;
    align-content: center;
}
.w-half{
    width: 50%;
}